<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052004457191-79kpstmv9220ot6b23oac2vhhtpb8m56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052004457191-79kpstmv9220ot6b23oac2vhhtpb8m56</string>
	<key>API_KEY</key>
	<string>AIzaSyDNY8qctN2rivY1mL6qV1yGYIM2sWDW09A</string>
	<key>GCM_SENDER_ID</key>
	<string>1052004457191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shmrTodo</string>
	<key>PROJECT_ID</key>
	<string>yandex-todo-eb9e0</string>
	<key>STORAGE_BUCKET</key>
	<string>yandex-todo-eb9e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052004457191:ios:005c36093e8d5d8eb4e042</string>
</dict>
</plist>